fileTypes: [
  "asn",
  "asn1"
]
name: "Abstract Syntax Notation"
patterns: [
  {
    match: "--.*$",
    name: "comment.line.asn"
  },
  {
    match: "::=",
    name: "keyword.operator.assignment.asn"
  },
  {
    match: "\\|",
    name: "keyword.operator.logical.asn"
  },
  {
    match: "\\.\\.",
    name: "keyword.operator.arithmetic.asn"
  },
  {
    match: "(SEQUENCE|SET|CLASS|CHOICE|OF|BOOLEAN|INTEGER|ENUMERATED|REAL|(BIT|OCTET) STRING|NULL|OBJECT IDENTIFIER|ANY|DATE|DATE-TIME|(Numeric|Printable|Teletex|IA5|Visible|Graphic|General)String|(Generalized|UTC)Time|EXTERNAL|Object Descriptor)",
    name: "storage.type.asn"
  },
  {
    match: "[-+]?([0-9]*(|.)[0-9]+)",
    name: "constant.numeric.integer.asn"
  },
  {
    begin: '"',
    end: '"',
    name:'string.quoted.double.turing'
  },
  {
    match: "OPTIONAL|SIZE|\\^ FROM",
    name: "storage.modifier.asn"
  },
  {
    match: "DEFINITIONS|AUTOMATIC TAGS|BEGIN|END",
    name: "keyword.control.asn"
  },
  {
    match: "IMPORTS|FROM",
    name: "keyword.control.import.asn"
  },
  {
    match: "(IM|EX)PLICIT",
    name: "constant.language.asn"
  },
  #{
  #  match: "SIZE|^ FROM",
  #  name:
  #}
]
scopeName: "source.asn"
