name: 'ASN.1'
fileTypes: [
  "asn",
  "asn1"
]
scopeName: 'source.asn'

repository:

  main:
    patterns: [
      {include: 'comments'}
      {include: 'operators'}
      {include: 'moduleActions'}
      {include: 'keyWords'}
      {include: 'types'}
      {include: 'numbers'}
      {include: 'strings'}
    ]

  comments:
    patterns: [
        {name:'comment.line.asn', match:'--.*$'}
      ]

  operators:
    patterns: [
        {name:'keyword.operator.assignment.asn', match:'::='}
        {name:'keyword.operator.logical.asn', match:'\|'}
        {name:'', match:''}
      ]

  moduleActions:
    patterns: [
        {name:'', match:''}
      ]

  keyWords:
    patterns: [
        {name:'', match:''}
      ]

  types:
    patterns: [
        {name:'', match:''}
      ]

  numbers:
    patterns: [
        {name:'', match:''}
      ]

  strings:
    patterns: [
        {name:'', match:''}
      ]
